<template>
  <div class="center">
    <vs-select placeholder="Select" v-model="value">
      <slot name="dropdown"></slot>
    </vs-select>
  </div>
</template>


<script>
    export default {
        data:() => ({
            value: '',
        })
    }
</script>
