

<template>
  <div class="center examplex">
    <vs-navbar center-collapsed v-model="active">
      <template #left>
        <div class="logo">
          <router-link to="/"><img src="../../assets/tmdb.svg" alt=""></router-link>
        </div>

        <vs-navbar-group>
          Movies
          <template #items>
            <vs-navbar-item id="guide">
              <router-link to="/popular-movies">Popular</router-link>
            </vs-navbar-item>
            <vs-navbar-item id="docs">
              <router-link to="/now-playing">Now playing</router-link>
            </vs-navbar-item>
            <vs-navbar-item  id="components">
              <router-link to="/upcoming">Upcoming</router-link>
            </vs-navbar-item>
            <vs-navbar-item id="components">
              <router-link to="/top-rated">Top rated</router-link>
            </vs-navbar-item>
          </template>
        </vs-navbar-group>

      <vs-navbar-group>
        Tv shows
        <template #items>
          <vs-navbar-item id="guide">
            Popular
          </vs-navbar-item>
          <vs-navbar-item id="docs">
            Airing today
          </vs-navbar-item>
          <vs-navbar-item  id="components">
            On TV
          </vs-navbar-item>
          <vs-navbar-item id="components">
            Top rated
          </vs-navbar-item>
        </template>
      </vs-navbar-group>

      <vs-navbar-group>
        People
        <template #items>
          <vs-navbar-item id="guide">
            Popular people
          </vs-navbar-item>
        </template>
      </vs-navbar-group>
      </template>

      <template #right>
        <vs-input icon="search" placeholder="Search" v-model="search"/>
      </template>
    </vs-navbar>
  </div>
</template>


<script>
    export default {
        data:()=>({
            activeItem: 0,
            search: '',
            active:'guide'
        })
    }
</script>

<style>
@import 'menu.scss';
</style>


