.vs-navbar-content {
  background:$color-blue!important;
  height:60px;
  border-radius:0!important;

  .logo {
    margin-right:16px;
  }

  .vs-navbar__group__item {
    margin-right: 14px;
    color: #fff;
    font-weight: 400;
    font-size:1rem;
    opacity:1;
    padding: .5em;
  }

  .vs-navbar {
    width:100%;
    max-width:$container-wide;
    margin:0 auto;
    height:100%;
  }

  .vs-navbar__left {
    width:80%;
    height:100%;

    img {
      width: 154px;
      height: auto;
    }
  }
}

