

<template>
  <div class="trailers">
    <h3>Trailers</h3>
    <Tabs :tabs="tabs" :initialTab="initialTab">

      <template slot="tab-panel-ontv">
        <div class="movie-element" v-for="tv_item in series.slice(0,10)" :key="tv_item">
          <router-link :to="{ name: 'TV', params: { tvId: tv_item.id }}">
            <div class="image">
              <img v-bind:src="'https://image.tmdb.org/t/p/w500' + tv_item.poster_path">
            </div>
            <div class="movie-content">
              <span>{{ tv_item.vote_average }}</span>
              <h5>{{ tv_item.name }}</h5>
              <p>{{ tv_item.first_air_date }}</p>
            </div>
          </router-link>
          <router-view />
        </div>
      </template>

      <template slot="tab-panel-intheatres">
        <div class="movie-element" v-for="movie in movies.slice(0,10)" :key="movie">
          <router-link :to="{ name: 'Movie', params: { movieId: movie.id }}">
            <div class="image">
              <img v-bind:src="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
            </div>
            <div class="movie-content">
              <span>{{ movie.vote_average }}</span>
              <h5>{{ movie.original_title }}</h5>
              <p>{{ movie.release_date }}</p>

            </div>
          </router-link>
        </div>
      </template>

    </Tabs>
  </div>
</template>

<script>

    import axios from "axios";
    import Tabs from '../../components/Tabs';

    export default {
        el: '#app',
        components: {
            Tabs
        },
        data () {
            return {
                movies: null,
                series: null,
                initialTab: ['ontv'],
                tabs: ['ontv', 'intheatres'],
                isHidden: true,
                movieTrailer: null
            }
        },
        mounted () {
            axios
                .get('https://api.themoviedb.org/3/trending/tv/day?api_key=ae3ed0454374843f3e616df66dfd4266')
                .then(response => (this.series = response.data.results))

            axios
                .get('https://api.themoviedb.org/3/discover/movie?api_key=ae3ed0454374843f3e616df66dfd4266&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=true&page=1')
                .then(response => (this.movies = response.data.results))

            // axios
            //     .get('https://api.themoviedb.org/3/movie/' + this.series[0].id + 'day?api_key=ae3ed0454374843f3e616df66dfd4266')
            //     .then(response => (this.movieTrailer = response.data.results, console.log(response)))

        },
        methods: {

        }
    }

</script>

<style scoped>

  .trailers {
    width:100%;
    max-width:1300px;
    margin:0 auto;
  }
  img {
    max-height:250px;
  }

</style>
