<template>
  <div class="actor">
    <Menu></Menu>
    <div class="sidebar">
      <div class="person">
      <img v-bind:src="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + actor.profile_path">
      <h3>Personal info</h3>


      <div class="block">
        <h4>Known for</h4>
        <div>{{ actor.known_for_department }}</div>
      </div>

      <div class="block">
        <h4>Gender</h4>
        <div>{{ actor.gender }}</div>
      </div>

      <div class="block">
        <h4>Birthdate</h4>
        <div>{{ actor.birthday }}</div>
      </div>

      <div class="block">
        <h4>Place of birth</h4>
        <div>{{ actor.place_of_birth }}</div>
      </div>

      <div class="block">
        <h4>Also known as</h4>
        <div v-for="person in actor.also_known_as" :key="person">
          <span>{{ person }}</span>
        </div>
      </div>

    </div>
    </div>

    <main>
      <h1>{{ actor.name }}</h1>
      <h2>Biography</h2>
      <p>{{ actor.biography }}</p>


      <div class="known-for">
        <h2>Known for</h2>
        <div class="movie-wrapper">
          <div class="movie-item" v-for="credit in creditsCast" :key="credit">
            <router-link :to="{ name: 'Movie', params: { movieId: credit.id }}">
            <img v-bind:src="'https://image.tmdb.org/t/p/w150_and_h225_bestv2' + credit.poster_path">
            <p>{{ credit.title }}</p>
            </router-link>
            <router-view />
          </div>
        </div>
      </div>

      <h3>Acting</h3>
      <div class="acting">
        <table v-for="credit in creditsCast" :key="credit">
          <tbody>
            <tr>
              <router-link :to="{ name: 'Movie', params: { movieId: credit.id }}">
                <div class="circle"></div>
                <td class="title">{{ credit.title }}</td>
                <td class="mid">as</td>
                <td class="character">{{ credit.character }}</td>
              </router-link>
              <router-view />
            </tr>
          </tbody>
        </table>
      </div>

      <h3>Crew</h3>
      <div class="crew">
        <table v-for="crew in creditsCrew" :key="crew">
          <tbody>
          <tr>
            <router-link :to="{ name: 'Movie', params: { movieId: crew.id }}">
            <div class="circle"></div>
            <td class="title">{{ crew.title }}</td>
            <td class="character">{{ crew.character }}</td>
            <td class="job">{{ crew.job }}</td>
            </router-link>
          </tr>
          </tbody>
        </table>
      </div>

    </main>
  </div>
</template>

<script>

    import axios from "axios";
    import Menu from "../components/Menu/Menu";
    // import Footer from "../components/Footer/Footer";
    // import Submenu from "../components/Submenu/Submenu";

    export default {
        name: 'actor',
        components: {
            Menu
            // Footer,
            // Submenu
        },
        data () {
            return {
                actor:null,
                creditsCast:null,
                creditsCrew:null
            }
        },
        mounted () {

            axios
                .get('https://api.themoviedb.org/3/person/' + this.$route.params.actorId + '?api_key=ae3ed0454374843f3e616df66dfd4266&language=en-US')
                .then(response => (this.actor = response.data, console.log(response)))

            axios
                .get('https://api.themoviedb.org/3/person/' + this.$route.params.actorId + '/movie_credits?api_key=ae3ed0454374843f3e616df66dfd4266&language=en-US')
                .then(response => (this.creditsCast = response.data.cast, console.log(response)))

            axios
                .get('https://api.themoviedb.org/3/person/' + this.$route.params.actorId + '/movie_credits?api_key=ae3ed0454374843f3e616df66dfd4266&language=en-US')
                .then(response => (this.creditsCrew = response.data.crew, console.log(response)))

        },
        methods: {

        }
    }

</script>

<style lang="scss" scoped>
  .actor {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top:100px;
  }

  .sidebar {
    width:300px;
  }

  main {
    max-width:900px;
    margin-left: 2em;

    p {
      line-height: 1.8;
    }
  }

  .person {
    img {
      border-radius:10px;
    }
  }

  .movie-wrapper {
    display:flex;
    overflow-x: scroll;
  }

  .movie-item {
    margin-right:2%;

    img {
      border-radius:5px;
    }

    a {
      text-decoration:none;
    }

    p {
      margin:5px 0;
      color:black;
      text-align: center;
    }
  }

  .acting,
  .crew {
    width: 100%;
    margin: 0;
    border-collapse: separate;
    border-bottom: 1px solid #dedede;
    padding: 1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  table {
    a {
      display:flex;
      align-items: center;
      text-decoration: none;
      margin-bottom:.5em;
    }

    .title {
      font-weight: bold;
      color: black;
    }

    .mid {
      text-decoration: none;
      margin: 0 3px;
      color: #7a7a7a;
      font-weight: 300;
    }

    .character,
    .job {
      color:black;
    }
  }

  .circle {
    width: 10px;
    height: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-right:1em;
  }
</style>
