<template>
  <div class="home">
    <Menu></Menu>
    <Search></Search>
    <popular/>
    <trending/>
    <Footer></Footer>
  </div>
</template>

<script>
// @ is an alias to /src
import Popular from '@/components/Popular/Popular.vue'
import Trending from '@/components/Trending/Trending.vue'
import Menu from '@/components/Menu/Menu.vue'
import Search from '@/components/Search/Search.vue'
import Footer from '@/components/Footer/Footer.vue'

export default {
    name:'Home',
    components: {
        Popular,
        Trending,
        Menu,
        Search,
        Footer
    }
}
</script>
