<template>
  <login></login>
</template>

<script>
    // @ is an alias to /src
    import Login from '@/components/auth/Login.vue'

    export default {
        name:'LoginScreen',
        components: {
            Login
        }
    }
</script>
