
<template>

  <div class="movie">
    <Menu></Menu>
    <Submenu>
      <template slot="navbar-group">
        <vs-navbar-group>
          Overview
          <template #items>
            <vs-navbar-item :active="active == 'alternative-titles'" id="alternative-titles">
              Alternative titles
            </vs-navbar-item>
            <vs-navbar-item :active="active == 'cast-crew'" id="cast-crew">
              Cast and crew
            </vs-navbar-item>
            <vs-navbar-item :active="active == 'release-dates'" id="release-dates">
              Release dates
            </vs-navbar-item>
            <vs-navbar-item :active="active == 'translations'" id="translations">
              Translations
            </vs-navbar-item>
          </template>
        </vs-navbar-group>

        <vs-navbar-group>
          Media
          <template #items>
            <vs-navbar-item :active="active == 'Backdrops'" id="Backdrops">
              Backdrops
            </vs-navbar-item>
            <vs-navbar-item :active="active == 'Posters'" id="Posters">
              Posters
            </vs-navbar-item>
            <vs-navbar-item :active="active == 'Videos'" id="Videos">
              Videos
            </vs-navbar-item>
          </template>
        </vs-navbar-group>
      </template>
    </Submenu>

    <div class="movie-item">
    <div class="header" v-bind:style='{ backgroundImage: "url(https://image.tmdb.org/t/p/w1920_and_h800_multi_faces" + movie.backdrop_path + ")", }'>
      <div class="header-inner">
      <div class="content">
        <div class="header-image">
          <img v-bind:src="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
        </div>
        <div class="header-info">
          <h2>{{ movie.title }}<span>({{ movie.release_date }})</span></h2>

          <div class="header-info-sub">
            <div class="release-date">{{ movie.release_date }}</div>
            <div class="dot"></div>
            <div class="genre">
                <span v-for="genre in movie.genres" :key="genre"> {{ genre.name }}<span class="comma">,</span></span>
            </div>
            <div class="dot"></div>
            <div class="duration">{{ movie.runtime }}</div>
          </div>

          <div class="user-score-wrapper">
            <span>User score</span>
            <div class="user-score">{{ movie.vote_average }}</div>
          </div>
          <div class="slogan">{{ movie.tagline }}</div>
          <h4>Overview</h4>
          <div class="overview">{{ movie.overview }}</div>

          <div class="important-crew">
          <div v-for="crew_member in crew" :key="crew_member">
            <div class="director" v-if="crew_member.job === 'Director'">{{ crew_member.name }}<span>Director</span></div>
            <div class="writer" v-if="crew_member.job === 'Writer'">{{ crew_member.name }}<span>Writer</span></div>
          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <main>

      <div class="main-wrapper">
        <div class="series-cast">
          <h3>Top billed cast</h3>
          <div class="actors">
            <div class="actor-item" v-for="cast_member in cast.slice(0,8)" :key="cast_member" @click="getActor()">
              <router-link :to="{ name: 'Actor', params: { actorId: cast_member.id }}">
              <img v-bind:src="'https://image.tmdb.org/t/p/w500' + cast_member.profile_path">
              <h6>{{ cast_member.name }}</h6>
              <p class="character">{{ cast_member.character }}</p>
              </router-link>
              <router-view />
            </div>
            <div class="view-more">
              <a href="">View more</a>
            </div>
          </div>
          <a href="">Full Cast&Crew</a>
        </div>

        <div class="social">
          <h3>Social</h3>
          <div class="review-item" v-for="review_item in review.slice(0,1)" :key="review_item">
            <h3>A review by {{ review_item.author}}</h3>
            <span>Written by {{ review_item.author }}</span>
            <p>{{ review_item.content }}</p>
            <a href="">Read the rest</a>
          </div>
          <a href="">Read All Reviews</a>
        </div>

        <div class="media">
          <h3>Media</h3>
          <Tabs :tabs="tabs" :initialTab="initialTab">

            <template slot="tab-panel-videos">
              <div class="media-item" v-for="video in videos" :key="video">
                <a class="video" v-bind:href="'https://www.themoviedb.org/video/play?key=' + video.key ">
                <div class="wrapper" v-bind:style='{ backgroundImage: "url(https://i.ytimg.com/vi/" + video.key + "/hqdefault.jpg)", }'></div>
                </a>
            </div>
              <a href="">View all videos</a>
            </template>

            <template slot="tab-panel-backdrops">
              <div class="media-item" v-for="backdrop in backdrops" :key="backdrop">
                <a class="image">
                  <img v-bind:src="'https://image.tmdb.org/t/p/w533_and_h300_bestv2' + backdrop.file_path">
                </a>
              </div>
              <a href="">View all backdrops</a>
            </template>

            <template slot="tab-panel-posters">
              <div class="media-item" v-for="poster in posters" :key="poster">
                <a class="image">
                  <img v-bind:src="'https://image.tmdb.org/t/p/w533_and_h300_bestv2' + poster.file_path">
                </a>
              </div>
              <a href="">View all posters</a>
            </template>

          </Tabs>
        </div>

        <div class="recommendations">
          <h3>Recommendations</h3>
          <div class="recommendations-wrapper">
          <div class="recommended-item" v-for="recommended_item in recommendations" :key="recommended_item" @click="reload()">
            <router-link :to="{ name: 'Movie', params: { movieId: recommended_item.id }}">
            <img v-bind:src="'https://image.tmdb.org/t/p/w250_and_h141_face' + recommended_item.poster_path">
            <p>{{ recommended_item.title }}</p>
            </router-link>
            <router-view />
          </div>
          </div>

        </div>

      </div>

      <div class="sideblock">
        <a v-bind:href="movie.homepage"></a>
        <div class="block status">
          <span>Status</span>
          <div>{{ movie.status }}</div>
        </div>
        <div class="block original-language">
          <span>Original language</span>
          <div>{{ movie.original_language }}</div>
        </div>
        <div class="block budget">
          <span>Budget</span>
          <div>{{ ifZeroBudget }}</div>
        </div>
        <div class="block revenue">
          <span>Revenue</span>
          <div>{{ ifZeroRevenue }}</div>
        </div>

      </div>


    </main>

    </div>
    <Footer></Footer>
  </div>
</template>

<script>

  import axios from "axios";
  import Tabs from "../components/Tabs";
  import Menu from "../components/Menu/Menu";
  import Footer from "../components/Footer/Footer";
  import Submenu from "../components/Submenu/Submenu";

  export default {
    name: 'movie',
    components: {
     Tabs,
      Menu,
        Footer,
        Submenu
    },
    data () {
      return {
        movie: null,
        cast: null,
          crew:null,
        review: null,
        videos: null,
        backdrops: null,
        backdropsShown: false,
        posters: null,
        initialTab: 'videos',
        tabs: ['videos', 'backdrops', 'posters'],
        recommendations: null,
        releaseDate: null
      }
    },
      computed: {
        ifZeroBudget: function() {
            if(this.movie.budget === 0) {
                return '-';
            } else {
                return (this.movie.budget).toLocaleString('en-US', {
                    style: 'currency',
                    currency: 'USD',
                });
            }
        },
          ifZeroRevenue: function() {
              if(this.movie.revenue === 0) {
                  return '-';
              } else {
                  return (this.movie.revenue).toLocaleString('en-US', {
                      style: 'currency',
                      currency: 'USD',
                  });
              }
          }
      },

    mounted () {

      axios
        .get('https://api.themoviedb.org/3/movie/' + this.$route.params.movieId + '?api_key=ae3ed0454374843f3e616df66dfd4266&language=en-US')
        .then(response => (this.movie = response.data, console.log(response)))


      axios
        .get('https://api.themoviedb.org/3/movie/' + this.$route.params.movieId + '/credits?api_key=ae3ed0454374843f3e616df66dfd4266')
        .then(response => (this.cast = response.data.cast))

        axios
            .get('https://api.themoviedb.org/3/movie/' + this.$route.params.movieId + '/credits?api_key=ae3ed0454374843f3e616df66dfd4266')
            .then(response => (this.crew = response.data.crew))

      axios
        .get('https://api.themoviedb.org/3/movie/' + this.$route.params.movieId + '/reviews?api_key=ae3ed0454374843f3e616df66dfd4266&language=en-US&page=1')
        .then(response => (this.review = response.data.results))

      axios
          .get('https://api.themoviedb.org/3/movie/' + this.$route.params.movieId + '/videos?api_key=ae3ed0454374843f3e616df66dfd4266&language=en-US')
          .then(response => (this.videos = response.data.results))

      axios
          .get('https://api.themoviedb.org/3/movie/' + this.$route.params.movieId + '/images?api_key=ae3ed0454374843f3e616df66dfd4266&')
          .then(response => (this.posters = response.data.posters))

      axios
          .get('https://api.themoviedb.org/3/movie/' + this.$route.params.movieId + '/images?api_key=ae3ed0454374843f3e616df66dfd4266&')
          .then(response => (this.backdrops = response.data.backdrops))

      axios
          .get('https://api.themoviedb.org/3/movie/' + this.$route.params.movieId + '/recommendations?api_key=ae3ed0454374843f3e616df66dfd4266&')
          .then(response => (this.recommendations = response.data.results))
    },
      methods: {
        reload: function() {
          this.$router.go(this.$router.currentRoute)
        },
        getActor: function() {
          axios
            .get('https://api.themoviedb.org/3/person/' + this.$route.params.actorId + '/?api_key=ae3ed0454374843f3e616df66dfd4266&')
            .then(response => (this.recommendations = response.data.results))
        }
      }
  }


</script>

<style lang="scss" scoped>

  .header {
    background-color: #bae4ff;
    border-bottom: 1px solid rgba(14.12%, 23.92%, 18.82%, 1.00);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header-inner {
    width: 100%;
    background: linear-gradient(to right, rgba(10.59%, 20.39%, 15.29%, 1.00) 150px, rgba(17.65%, 27.45%, 22.35%, 0.84) 100%);
  }

  h2 {
    font-size:2.2rem;

    span {
      color:#d9d9d9;
      font-weight:normal;
    }
  }

  .content {
    width:100%;
    max-width:1200px;
    margin:0 auto;
    display:flex;
    padding:2em;
  }

  img {
    max-height:400px;
  }

  main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
  }

  .header-info {
    margin-left:2em;
    color:white;
  }

  .actors{
    display:flex;
    overflow:scroll;
  }

  .series-cast {
    position:relative;

    &:after {
      content:'';
      position:absolute;
      width:50px;
      height:100%;
      bottom:0;
      right:0;
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)!important;
    }
  }

  .actor-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
    border: 1px solid rgba(var(--lightGrey), 1);
    padding-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    min-width: 140px;
    width: 140px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    a {
      text-decoration:none;

      img {
        width:100%;
        height:100%;
        object-fit: cover;
        max-height:180px;
      }
    }

    h6 {
      font-size: 1em;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 10px 10px 0 10px;
      color: black;
    }

    .character {
      padding: 0 10px;
      color: black;
      font-size:.8rem;
      margin: 5px 0;
    }
  }

  .actors img {
    max-width:150px;
  }

  .series-cast,
  .social{
    a {
      font-size: 1.1rem;
      text-decoration: none;
      color: #022541;
      font-weight: 600;
      margin: 1em 0;
      display: block;
    }
  }

  .block {
    margin-bottom:1em;
  }

  .block span {
    font-weight:bold;
  }

  .sideblock {
    margin-top: 2em;
    margin-left: 1em;
  }

  .review-item {
    padding: 1em 2em;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .review-item p {
    max-height: 100px;
    overflow: hidden;
  }

  .social {
    margin-top:2em;
  }

  .media-item .wrapper {
    width: 533px;
    height: 300px;
    background-size: cover;
  }

  .main-wrapper {
    max-width:900px;
  }

  .recommendations-wrapper {
    display:flex;
    overflow-x:scroll;
  }

  .recommended-item {
    margin-right:2%;
    p {
      margin: 5px 0;
      color: black;
    }

    a {
      text-decoration:none;
    }

    img {
      border-radius:10px;
    }
  }

  .header {
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-position:top;
  }
  .header-info-sub {
    display: flex;
  }

  .dot {
    width:20px;
    height:20px;
    position:relative;

    &:after {
      content:'';
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      background-color:white;
      width:5px;
      height:5px;
      border-radius:20px;
    }
  }

  .movie-item {
    margin-top:60px;
  }

  .user-score {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    background-color: black;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin: 1em 0;
  }

  h4 {
    font-weight: 600;
    font-size: 1.3em;
    margin: 10px 0 8px 0;
    color:#d9d9d9;
  }

  h3 {
    margin-bottom:.8em!important;
    font-weight: 600;
    font-size:1.6rem;
  }

  .view-more {
    min-width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

    a {
      color: black;
      text-decoration: none;
    }
  }

  .overview {
    color:#d9d9d9;
  }

  .slogan {
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 400;
    font-style: italic;
    opacity: 0.7;
  }

  .user-score-wrapper {
    display:flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;

    span {
      margin-left: 1em;
      font-weight: bold;
    }
  }

  .important-crew {
    display:flex;
    margin:1em 0;

    .director,
    .writer {
      display:flex;
      flex-direction:column;
      margin-right:2em;
    }
  }



</style>
