<template>
  <div class="popular-movies">
  <Menu></Menu>
  <h3>Popular movies</h3>
    <div class="content">
  <div class="sidebar">

    <div class="sort dropdown">
      <div class="toggle" v-on:click="isHidden = !isHidden">
        <h4>Sort</h4>
      </div>

      <div v-if="!isHidden" class="dropdown-wrapper">
        <div class="label">Sort Results By</div>
        <vs-select placeholder="Select" v-model="selectedFilter" filter>
          <vs-option :label="filter.name" :value="filter.value" v-for="filter in filters" :key="filter" >
            {{ filter.name }}
          </vs-option>
        </vs-select>
      </div>
    </div>

    <div class="filters dropdown">
      <div class="toggle" v-on:click="filtersHidden = !filtersHidden">
        <h4>Filters</h4>
        <div>Click to open</div>
      </div>

      <div v-if="filtersHidden" class="dropdown-wrapper">
      <div class="label">Release Dates</div>
      <input :id="checkedAll" :value="[1,2,3,4,5,6]" :name="checkedAll" type="checkbox" v-model="selectedDates" checked="true"/>
      <label :for="checkedAll"><span>Search all</span></label>
      <div class="release_dates" v-for="release_item in releases" :key="release_item">
        <input :id="release_item.type" :value="release_item.type" :name="release_item.name" type="checkbox" v-model="selectedDates" />
        <label :for="release_item.type"><span>{{ release_item.name }}</span></label>
      </div>
      <label for="start">from:</label>
      <input type="date" id="start" name="trip-start" v-model="dateStart"
             value="2018-07-22"
             min="" max="">
      <label for="end">to:</label>
      <input type="date" id="end" name="trip-end" v-model="dateEnd"
             value="2018-07-22"
             min="" max="">


      <div class="label">Genres</div>
      <div class="genre_items" v-for="genre_item in genres" :key="genre_item">
        <input :id="genre_item.id" :value="genre_item.id" :name="genre_item.name" type="checkbox" v-model="selectedGenres"  />
        <label :for="genre_item.id"><span>{{ genre_item.name }}</span></label>
      </div>

      <div class="label">Language</div>
      <div class="dropdown-wrapper">
        <vs-select placeholder="Select" v-model="selectedLanguage" filter>
          <vs-option :label="language.english_name" :value="language.iso_639_1" v-for="language in languages" :key="language" >
            {{ language.english_name }}
          </vs-option>
        </vs-select>
      </div>

      <div class="label">User score</div>
      <div class="slide-wrapper">
        <label>0</label>
        <input type="range" min="0" max="10" step="1" class="slider" id="myRange" v-model="selectedUserScore">
        <label>10</label>
      </div>

      <div class="label">Minimum User Votes</div>
      <div class="slide-wrapper">
        <label>0</label>
        <input type="range" min="0" max="500" step="100" class="slider" id="minRange" v-model="selectedMinimumUserVotes">
        <label>500</label>
      </div>




      <button @click="getFilteredResults">Search</button>

    </div>
    </div>
  </div>
  <div class="main">
    <div class="popular-movies-wrapper">
      <div class="movie-item" v-for="movie_item in movies.results" :key="movie_item">
        <router-link :to="{ name: 'Movie', params: { movieId: movie_item.id }}">
        <div class="image">
          <img v-bind:src="'https://image.tmdb.org/t/p/w220_and_h330_face' + movie_item.poster_path">
          <div class="average-vote">{{ movie_item.vote_average }}</div>
        </div>
        </router-link>

        <div class="movie-item-content">
          <div class="title">{{ movie_item.title }}</div>
          <div class="release-date">{{ movie_item.release_date }}</div>
        </div>
      </div>
    </div>
    <vs-button flat @click="loadMore">Load more pagenumber: {{ pageNumber.page }}</vs-button>
  </div>
    </div>
    <Footer></Footer>
  </div>

</template>

<script>



    import axios from "axios";
    import Menu from "../components/Menu/Menu";
    import Footer from "../components/Footer/Footer";


    export default {
        name: 'popularMovies',
        components: {
            Menu,
            Footer
        },
        data () {
            return {
                filtersHidden: false,
                isHidden: false,
                movies: null,
                dateStart: [],
                dateEnd: [],
                pageNumber: [],
                selectedGenres: [],
                selectedLanguage: '',
                selectedFilter: '',
                selectedUserScore: [],
                selectedMinimumUserVotes: [],
                selectedDates: [],
                releases: [
                    {
                        'name': 'Premiere',
                        'type': 1
                    },
                    {
                        'name': 'Theatrical(limited)',
                        'type': 2
                    },
                    {
                        'name': 'Theatrical',
                        'type': 3
                    },
                    {
                        'name': 'Digital',
                        'type': 4
                    },
                    {
                        'name': 'Physical',
                        'type': 5
                    },
                    {
                        'name': 'TV',
                        'type': 6
                    }
                ],
                languages: [
                    {
                        "iso_639_1": "xx",
                        "english_name": "None selected",
                        "name": "None Selected"
                    },
                    {
                        "iso_639_1": "aa",
                        "english_name": "Afar",
                        "name": ""
                    },
                    {
                        "iso_639_1": "af",
                        "english_name": "Afrikaans",
                        "name": "Afrikaans"
                    },
                    {
                        "iso_639_1": "ak",
                        "english_name": "Akan",
                        "name": ""
                    },
                    {
                        "iso_639_1": "an",
                        "english_name": "Aragonese",
                        "name": ""
                    },
                    {
                        "iso_639_1": "as",
                        "english_name": "Assamese",
                        "name": ""
                    },
                    {
                        "iso_639_1": "av",
                        "english_name": "Avaric",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ae",
                        "english_name": "Avestan",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ay",
                        "english_name": "Aymara",
                        "name": ""
                    },
                    {
                        "iso_639_1": "az",
                        "english_name": "Azerbaijani",
                        "name": "Azərbaycan"
                    },
                    {
                        "iso_639_1": "ba",
                        "english_name": "Bashkir",
                        "name": ""
                    },
                    {
                        "iso_639_1": "bm",
                        "english_name": "Bambara",
                        "name": "Bamanankan"
                    },
                    {
                        "iso_639_1": "bi",
                        "english_name": "Bislama",
                        "name": ""
                    },
                    {
                        "iso_639_1": "bo",
                        "english_name": "Tibetan",
                        "name": ""
                    },
                    {
                        "iso_639_1": "br",
                        "english_name": "Breton",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ca",
                        "english_name": "Catalan",
                        "name": "Català"
                    },
                    {
                        "iso_639_1": "cs",
                        "english_name": "Czech",
                        "name": "Český"
                    },
                    {
                        "iso_639_1": "ce",
                        "english_name": "Chechen",
                        "name": ""
                    },
                    {
                        "iso_639_1": "cu",
                        "english_name": "Slavic",
                        "name": ""
                    },
                    {
                        "iso_639_1": "cv",
                        "english_name": "Chuvash",
                        "name": ""
                    },
                    {
                        "iso_639_1": "kw",
                        "english_name": "Cornish",
                        "name": ""
                    },
                    {
                        "iso_639_1": "co",
                        "english_name": "Corsican",
                        "name": ""
                    },
                    {
                        "iso_639_1": "cr",
                        "english_name": "Cree",
                        "name": ""
                    },
                    {
                        "iso_639_1": "cy",
                        "english_name": "Welsh",
                        "name": "Cymraeg"
                    },
                    {
                        "iso_639_1": "da",
                        "english_name": "Danish",
                        "name": "Dansk"
                    },
                    {
                        "iso_639_1": "de",
                        "english_name": "German",
                        "name": "Deutsch"
                    },
                    {
                        "iso_639_1": "dv",
                        "english_name": "Divehi",
                        "name": ""
                    },
                    {
                        "iso_639_1": "dz",
                        "english_name": "Dzongkha",
                        "name": ""
                    },
                    {
                        "iso_639_1": "eo",
                        "english_name": "Esperanto",
                        "name": "Esperanto"
                    },
                    {
                        "iso_639_1": "et",
                        "english_name": "Estonian",
                        "name": "Eesti"
                    },
                    {
                        "iso_639_1": "eu",
                        "english_name": "Basque",
                        "name": "euskera"
                    },
                    {
                        "iso_639_1": "fo",
                        "english_name": "Faroese",
                        "name": ""
                    },
                    {
                        "iso_639_1": "fj",
                        "english_name": "Fijian",
                        "name": ""
                    },
                    {
                        "iso_639_1": "fi",
                        "english_name": "Finnish",
                        "name": "suomi"
                    },
                    {
                        "iso_639_1": "fr",
                        "english_name": "French",
                        "name": "Français"
                    },
                    {
                        "iso_639_1": "fy",
                        "english_name": "Frisian",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ff",
                        "english_name": "Fulah",
                        "name": "Fulfulde"
                    },
                    {
                        "iso_639_1": "gd",
                        "english_name": "Gaelic",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ga",
                        "english_name": "Irish",
                        "name": "Gaeilge"
                    },
                    {
                        "iso_639_1": "gl",
                        "english_name": "Galician",
                        "name": "Galego"
                    },
                    {
                        "iso_639_1": "gv",
                        "english_name": "Manx",
                        "name": ""
                    },
                    {
                        "iso_639_1": "gn",
                        "english_name": "Guarani",
                        "name": ""
                    },
                    {
                        "iso_639_1": "gu",
                        "english_name": "Gujarati",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ht",
                        "english_name": "Haitian; Haitian Creole",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ha",
                        "english_name": "Hausa",
                        "name": "Hausa"
                    },
                    {
                        "iso_639_1": "sh",
                        "english_name": "Serbo-Croatian",
                        "name": ""
                    },
                    {
                        "iso_639_1": "hz",
                        "english_name": "Herero",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ho",
                        "english_name": "Hiri Motu",
                        "name": ""
                    },
                    {
                        "iso_639_1": "hr",
                        "english_name": "Croatian",
                        "name": "Hrvatski"
                    },
                    {
                        "iso_639_1": "hu",
                        "english_name": "Hungarian",
                        "name": "Magyar"
                    },
                    {
                        "iso_639_1": "ig",
                        "english_name": "Igbo",
                        "name": ""
                    },
                    {
                        "iso_639_1": "io",
                        "english_name": "Ido",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ii",
                        "english_name": "Yi",
                        "name": ""
                    },
                    {
                        "iso_639_1": "iu",
                        "english_name": "Inuktitut",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ie",
                        "english_name": "Interlingue",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ia",
                        "english_name": "Interlingua",
                        "name": ""
                    },
                    {
                        "iso_639_1": "id",
                        "english_name": "Indonesian",
                        "name": "Bahasa indonesia"
                    },
                    {
                        "iso_639_1": "ik",
                        "english_name": "Inupiaq",
                        "name": ""
                    },
                    {
                        "iso_639_1": "is",
                        "english_name": "Icelandic",
                        "name": "Íslenska"
                    },
                    {
                        "iso_639_1": "it",
                        "english_name": "Italian",
                        "name": "Italiano"
                    },
                    {
                        "iso_639_1": "jv",
                        "english_name": "Javanese",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ja",
                        "english_name": "Japanese",
                        "name": "日本語"
                    },
                    {
                        "iso_639_1": "kl",
                        "english_name": "Kalaallisut",
                        "name": ""
                    },
                    {
                        "iso_639_1": "kn",
                        "english_name": "Kannada",
                        "name": "?????"
                    },
                    {
                        "iso_639_1": "ks",
                        "english_name": "Kashmiri",
                        "name": ""
                    },
                    {
                        "iso_639_1": "kr",
                        "english_name": "Kanuri",
                        "name": ""
                    },
                    {
                        "iso_639_1": "kk",
                        "english_name": "Kazakh",
                        "name": "қазақ"
                    },
                    {
                        "iso_639_1": "km",
                        "english_name": "Khmer",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ki",
                        "english_name": "Kikuyu",
                        "name": ""
                    },
                    {
                        "iso_639_1": "rw",
                        "english_name": "Kinyarwanda",
                        "name": "Kinyarwanda"
                    },
                    {
                        "iso_639_1": "ky",
                        "english_name": "Kirghiz",
                        "name": "??????"
                    },
                    {
                        "iso_639_1": "kv",
                        "english_name": "Komi",
                        "name": ""
                    },
                    {
                        "iso_639_1": "kg",
                        "english_name": "Kongo",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ko",
                        "english_name": "Korean",
                        "name": "한국어/조선말"
                    },
                    {
                        "iso_639_1": "kj",
                        "english_name": "Kuanyama",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ku",
                        "english_name": "Kurdish",
                        "name": ""
                    },
                    {
                        "iso_639_1": "lo",
                        "english_name": "Lao",
                        "name": ""
                    },
                    {
                        "iso_639_1": "la",
                        "english_name": "Latin",
                        "name": "Latin"
                    },
                    {
                        "iso_639_1": "lv",
                        "english_name": "Latvian",
                        "name": "Latviešu"
                    },
                    {
                        "iso_639_1": "li",
                        "english_name": "Limburgish",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ln",
                        "english_name": "Lingala",
                        "name": ""
                    },
                    {
                        "iso_639_1": "lt",
                        "english_name": "Lithuanian",
                        "name": "Lietuvių"
                    },
                    {
                        "iso_639_1": "lb",
                        "english_name": "Letzeburgesch",
                        "name": ""
                    },
                    {
                        "iso_639_1": "lu",
                        "english_name": "Luba-Katanga",
                        "name": ""
                    },
                    {
                        "iso_639_1": "lg",
                        "english_name": "Ganda",
                        "name": ""
                    },
                    {
                        "iso_639_1": "mh",
                        "english_name": "Marshall",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ml",
                        "english_name": "Malayalam",
                        "name": ""
                    },
                    {
                        "iso_639_1": "mr",
                        "english_name": "Marathi",
                        "name": ""
                    },
                    {
                        "iso_639_1": "mg",
                        "english_name": "Malagasy",
                        "name": ""
                    },
                    {
                        "iso_639_1": "mt",
                        "english_name": "Maltese",
                        "name": "Malti"
                    },
                    {
                        "iso_639_1": "mo",
                        "english_name": "Moldavian",
                        "name": ""
                    },
                    {
                        "iso_639_1": "mn",
                        "english_name": "Mongolian",
                        "name": ""
                    },
                    {
                        "iso_639_1": "mi",
                        "english_name": "Maori",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ms",
                        "english_name": "Malay",
                        "name": "Bahasa melayu"
                    },
                    {
                        "iso_639_1": "my",
                        "english_name": "Burmese",
                        "name": ""
                    },
                    {
                        "iso_639_1": "na",
                        "english_name": "Nauru",
                        "name": ""
                    },
                    {
                        "iso_639_1": "nv",
                        "english_name": "Navajo",
                        "name": ""
                    },
                    {
                        "iso_639_1": "nr",
                        "english_name": "Ndebele",
                        "name": ""
                    },
                    {
                        "iso_639_1": "nd",
                        "english_name": "Ndebele",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ng",
                        "english_name": "Ndonga",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ne",
                        "english_name": "Nepali",
                        "name": ""
                    },
                    {
                        "iso_639_1": "nl",
                        "english_name": "Dutch",
                        "name": "Nederlands"
                    },
                    {
                        "iso_639_1": "nn",
                        "english_name": "Norwegian Nynorsk",
                        "name": ""
                    },
                    {
                        "iso_639_1": "nb",
                        "english_name": "Norwegian Bokmål",
                        "name": "Bokmål"
                    },
                    {
                        "iso_639_1": "no",
                        "english_name": "Norwegian",
                        "name": "Norsk"
                    },
                    {
                        "iso_639_1": "ny",
                        "english_name": "Chichewa; Nyanja",
                        "name": ""
                    },
                    {
                        "iso_639_1": "oc",
                        "english_name": "Occitan",
                        "name": ""
                    },
                    {
                        "iso_639_1": "oj",
                        "english_name": "Ojibwa",
                        "name": ""
                    },
                    {
                        "iso_639_1": "or",
                        "english_name": "Oriya",
                        "name": ""
                    },
                    {
                        "iso_639_1": "om",
                        "english_name": "Oromo",
                        "name": ""
                    },
                    {
                        "iso_639_1": "os",
                        "english_name": "Ossetian; Ossetic",
                        "name": ""
                    },
                    {
                        "iso_639_1": "pi",
                        "english_name": "Pali",
                        "name": ""
                    },
                    {
                        "iso_639_1": "pl",
                        "english_name": "Polish",
                        "name": "Polski"
                    },
                    {
                        "iso_639_1": "pt",
                        "english_name": "Portuguese",
                        "name": "Português"
                    },
                    {
                        "iso_639_1": "qu",
                        "english_name": "Quechua",
                        "name": ""
                    },
                    {
                        "iso_639_1": "rm",
                        "english_name": "Raeto-Romance",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ro",
                        "english_name": "Romanian",
                        "name": "Română"
                    },
                    {
                        "iso_639_1": "rn",
                        "english_name": "Rundi",
                        "name": "Kirundi"
                    },
                    {
                        "iso_639_1": "ru",
                        "english_name": "Russian",
                        "name": "Pусский"
                    },
                    {
                        "iso_639_1": "sg",
                        "english_name": "Sango",
                        "name": ""
                    },
                    {
                        "iso_639_1": "sa",
                        "english_name": "Sanskrit",
                        "name": ""
                    },
                    {
                        "iso_639_1": "si",
                        "english_name": "Sinhalese",
                        "name": "සිංහල"
                    },
                    {
                        "iso_639_1": "sk",
                        "english_name": "Slovak",
                        "name": "Slovenčina"
                    },
                    {
                        "iso_639_1": "sl",
                        "english_name": "Slovenian",
                        "name": "Slovenščina"
                    },
                    {
                        "iso_639_1": "se",
                        "english_name": "Northern Sami",
                        "name": ""
                    },
                    {
                        "iso_639_1": "sm",
                        "english_name": "Samoan",
                        "name": ""
                    },
                    {
                        "iso_639_1": "sn",
                        "english_name": "Shona",
                        "name": ""
                    },
                    {
                        "iso_639_1": "sd",
                        "english_name": "Sindhi",
                        "name": ""
                    },
                    {
                        "iso_639_1": "so",
                        "english_name": "Somali",
                        "name": "Somali"
                    },
                    {
                        "iso_639_1": "st",
                        "english_name": "Sotho",
                        "name": ""
                    },
                    {
                        "iso_639_1": "es",
                        "english_name": "Spanish",
                        "name": "Español"
                    },
                    {
                        "iso_639_1": "sq",
                        "english_name": "Albanian",
                        "name": "shqip"
                    },
                    {
                        "iso_639_1": "sc",
                        "english_name": "Sardinian",
                        "name": ""
                    },
                    {
                        "iso_639_1": "sr",
                        "english_name": "Serbian",
                        "name": "Srpski"
                    },
                    {
                        "iso_639_1": "ss",
                        "english_name": "Swati",
                        "name": ""
                    },
                    {
                        "iso_639_1": "su",
                        "english_name": "Sundanese",
                        "name": ""
                    },
                    {
                        "iso_639_1": "sw",
                        "english_name": "Swahili",
                        "name": "Kiswahili"
                    },
                    {
                        "iso_639_1": "sv",
                        "english_name": "Swedish",
                        "name": "svenska"
                    },
                    {
                        "iso_639_1": "ty",
                        "english_name": "Tahitian",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ta",
                        "english_name": "Tamil",
                        "name": "தமிழ்"
                    },
                    {
                        "iso_639_1": "tt",
                        "english_name": "Tatar",
                        "name": ""
                    },
                    {
                        "iso_639_1": "te",
                        "english_name": "Telugu",
                        "name": "తెలుగు"
                    },
                    {
                        "iso_639_1": "tg",
                        "english_name": "Tajik",
                        "name": ""
                    },
                    {
                        "iso_639_1": "tl",
                        "english_name": "Tagalog",
                        "name": ""
                    },
                    {
                        "iso_639_1": "th",
                        "english_name": "Thai",
                        "name": "ภาษาไทย"
                    },
                    {
                        "iso_639_1": "ti",
                        "english_name": "Tigrinya",
                        "name": ""
                    },
                    {
                        "iso_639_1": "to",
                        "english_name": "Tonga",
                        "name": ""
                    },
                    {
                        "iso_639_1": "tn",
                        "english_name": "Tswana",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ts",
                        "english_name": "Tsonga",
                        "name": ""
                    },
                    {
                        "iso_639_1": "tk",
                        "english_name": "Turkmen",
                        "name": ""
                    },
                    {
                        "iso_639_1": "tr",
                        "english_name": "Turkish",
                        "name": "Türkçe"
                    },
                    {
                        "iso_639_1": "tw",
                        "english_name": "Twi",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ug",
                        "english_name": "Uighur",
                        "name": ""
                    },
                    {
                        "iso_639_1": "uk",
                        "english_name": "Ukrainian",
                        "name": "Український"
                    },
                    {
                        "iso_639_1": "ur",
                        "english_name": "Urdu",
                        "name": "اردو"
                    },
                    {
                        "iso_639_1": "uz",
                        "english_name": "Uzbek",
                        "name": "ozbek"
                    },
                    {
                        "iso_639_1": "ve",
                        "english_name": "Venda",
                        "name": ""
                    },
                    {
                        "iso_639_1": "vi",
                        "english_name": "Vietnamese",
                        "name": "Tiếng Việt"
                    },
                    {
                        "iso_639_1": "vo",
                        "english_name": "Volapük",
                        "name": ""
                    },
                    {
                        "iso_639_1": "wa",
                        "english_name": "Walloon",
                        "name": ""
                    },
                    {
                        "iso_639_1": "wo",
                        "english_name": "Wolof",
                        "name": "Wolof"
                    },
                    {
                        "iso_639_1": "xh",
                        "english_name": "Xhosa",
                        "name": ""
                    },
                    {
                        "iso_639_1": "yi",
                        "english_name": "Yiddish",
                        "name": ""
                    },
                    {
                        "iso_639_1": "za",
                        "english_name": "Zhuang",
                        "name": ""
                    },
                    {
                        "iso_639_1": "zu",
                        "english_name": "Zulu",
                        "name": "isiZulu"
                    },
                    {
                        "iso_639_1": "ab",
                        "english_name": "Abkhazian",
                        "name": ""
                    },
                    {
                        "iso_639_1": "zh",
                        "english_name": "Mandarin",
                        "name": "普通话"
                    },
                    {
                        "iso_639_1": "ps",
                        "english_name": "Pushto",
                        "name": "پښتو"
                    },
                    {
                        "iso_639_1": "am",
                        "english_name": "Amharic",
                        "name": ""
                    },
                    {
                        "iso_639_1": "ar",
                        "english_name": "Arabic",
                        "name": "العربية"
                    },
                    {
                        "iso_639_1": "bg",
                        "english_name": "Bulgarian",
                        "name": "български език"
                    },
                    {
                        "iso_639_1": "cn",
                        "english_name": "Cantonese",
                        "name": "广州话 / 廣州話"
                    },
                    {
                        "iso_639_1": "mk",
                        "english_name": "Macedonian",
                        "name": ""
                    },
                    {
                        "iso_639_1": "el",
                        "english_name": "Greek",
                        "name": "ελληνικά"
                    },
                    {
                        "iso_639_1": "fa",
                        "english_name": "Persian",
                        "name": "فارسی"
                    },
                    {
                        "iso_639_1": "he",
                        "english_name": "Hebrew",
                        "name": "עִבְרִית"
                    },
                    {
                        "iso_639_1": "hi",
                        "english_name": "Hindi",
                        "name": "हिन्दी"
                    },
                    {
                        "iso_639_1": "hy",
                        "english_name": "Armenian",
                        "name": ""
                    },
                    {
                        "iso_639_1": "en",
                        "english_name": "English",
                        "name": "English"
                    },
                    {
                        "iso_639_1": "ee",
                        "english_name": "Ewe",
                        "name": "Èʋegbe"
                    },
                    {
                        "iso_639_1": "ka",
                        "english_name": "Georgian",
                        "name": "ქართული"
                    },
                    {
                        "iso_639_1": "pa",
                        "english_name": "Punjabi",
                        "name": "ਪੰਜਾਬੀ"
                    },
                    {
                        "iso_639_1": "bn",
                        "english_name": "Bengali",
                        "name": "বাংলা"
                    },
                    {
                        "iso_639_1": "bs",
                        "english_name": "Bosnian",
                        "name": "Bosanski"
                    },
                    {
                        "iso_639_1": "ch",
                        "english_name": "Chamorro",
                        "name": "Finu' Chamorro"
                    },
                    {
                        "iso_639_1": "be",
                        "english_name": "Belarusian",
                        "name": "беларуская мова"
                    },
                    {
                        "iso_639_1": "yo",
                        "english_name": "Yoruba",
                        "name": "Èdè Yorùbá"
                    }
                ],
                genres: [
                    {
                        "id": 28,
                        "name": "Action"
                    },
                    {
                        "id": 12,
                        "name": "Adventure"
                    },
                    {
                        "id": 16,
                        "name": "Animation"
                    },
                    {
                        "id": 35,
                        "name": "Comedy"
                    },
                    {
                        "id": 80,
                        "name": "Crime"
                    },
                    {
                        "id": 99,
                        "name": "Documentary"
                    },
                    {
                        "id": 18,
                        "name": "Drama"
                    },
                    {
                        "id": 10751,
                        "name": "Family"
                    },
                    {
                        "id": 14,
                        "name": "Fantasy"
                    },
                    {
                        "id": 36,
                        "name": "History"
                    },
                    {
                        "id": 27,
                        "name": "Horror"
                    },
                    {
                        "id": 10402,
                        "name": "Music"
                    },
                    {
                        "id": 9648,
                        "name": "Mystery"
                    },
                    {
                        "id": 10749,
                        "name": "Romance"
                    },
                    {
                        "id": 878,
                        "name": "Science Fiction"
                    },
                    {
                        "id": 10770,
                        "name": "TV Movie"
                    },
                    {
                        "id": 53,
                        "name": "Thriller"
                    },
                    {
                        "id": 10752,
                        "name": "War"
                    },
                    {
                        "id": 37,
                        "name": "Western"
                    }
                ],
                filters: [
                    {
                        name: 'Popularity Ascending',
                        value: 'popularity.asc'
                    },
                    {
                        name: 'Popularity Descending',
                        value: 'popularity.desc'
                    },
                    {
                        name: 'Rating Descending',
                        value: 'vote_average.desc'
                    },
                    {
                        name: 'Rating Ascending',
                        value: 'vote_average.asc'
                    },
                    {
                        name: 'Release Date Descending',
                        value: 'release_date.desc'
                    },
                    {
                        name: 'Release Date Ascending',
                        value: 'release_date.asc'
                    },
                    {
                        name: 'A to Z',
                        value: 'original_title.asc'
                    },
                    {
                        name: 'Z to A',
                        value: 'original_title.desc'
                    }
                ]
            }
        },
        computed: {

        },

        mounted () {

            axios
                .get('https://api.themoviedb.org/3/discover/movie?api_key=ae3ed0454374843f3e616df66dfd4266&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&page=1\n')
                .then(response => (this.movies = response.data))

            axios
                .get('https://api.themoviedb.org/3/discover/movie?api_key=ae3ed0454374843f3e616df66dfd4266&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&page=' + this.pageNumber + '')
                .then(response => (this.pageNumber = response.data))


        },
        methods: {
            reload: function() {
                this.$router.go(this.$router.currentRoute)
            },
            getFilteredResults: function() {
                axios
                    .get('https://api.themoviedb.org/3/discover/movie?api_key=ae3ed0454374843f3e616df66dfd4266&with_original_language=' + this.selectedLanguage
                        + '&sort_by=' + this.selectedFilter
                        + '&vote_average.lte=' + this.selectedUserScore
                        + '&vote_count.lte=' + this.selectedMinimumUserVotes
                        + '&with_release_type=' + this.selectedDates
                        + '&release_date.gte=' + this.dateStart
                        + '&release_date.lte=' + this.dateEnd
                        + '&include_adult=false&include_video=true&page=1&with_genres=' + this.selectedGenres
                        + '' )
                    .then(response => (this.movies = response.data, console.log(response)))
                    this.pageNumber.page = 1;
            },
            loadMore: function() {

                axios
                    .get('https://api.themoviedb.org/3/discover/movie?api_key=ae3ed0454374843f3e616df66dfd4266&with_original_language=' + this.selectedLanguage
                        + '&sort_by=' + this.selectedFilter
                        + '&vote_average.lte=' + this.selectedUserScore
                        + '&vote_count.lte=' + this.selectedMinimumUserVotes
                        + '&with_release_type=' + this.selectedDates
                        + '&release_date.gte=' + this.dateStart
                        + '&release_date.lte=' + this.dateEnd
                        + '&include_adult=false&include_video=true&page=' + this.pageNumber.page++
                        + '&with_genres=' + this.selectedGenres
                        + '' )
                    .then(response => (this.movies = response.data, console.log(response)))

            }
        }
    }


</script>

<style lang="scss" scoped>

  .sidebar {
    width:25%;
  }

  .movie-item-content {
    padding: 26px 10px 12px 10px;
    position: relative;
    white-space: normal;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;

    .title {
      font-weight: 700;
      color: #000;
    }

    .release-date {
      font-size: 1em;
      margin: 0;
      padding: 0;
      color: rgba(0,0,0,0.6);
    }
  }

  .content {
    display: flex;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1em;
    justify-content: space-between;
  }

  .popular-movies-wrapper {
    display:flex;
    flex-wrap: wrap;
  }

  .dropdown {
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    flex-direction: column;
    background-color: white;
    box-shadow:0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom:1em;
  }

  .toggle {
    h4 {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;
      padding: 14px 16px;
      margin: 0;
    }
  }

  .dropdown-wrapper {
    width: 100%;
    border-top: 1px solid #eee;
    padding: 14px 16px 16px 16px;

    .label {
      display: inline-flex;
      align-items: center;
      width: 100%;
      font-size: 1em;
      font-weight: 300;
      margin-bottom: 10px;
    }
  }

  .movie-item {
    margin-right: 30px;
    position: relative;
    display: flex;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 200px;
    width: 100%;
    margin-bottom:2em;
  }

  .image {
    position:relative;

    .average-vote {
      position: absolute;
      bottom: -10px;
      left: 10px;
      width: 38px;
      height: 38px;
      box-sizing: border-box;
      background-color: black;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-weight: bold;
    }
  }
</style>


