<template>
  <div class="results">
    <div class="content">
      <div class="sidebar">
        <h4>Search results</h4>
        <p>All results: {{ endResult.total_results }}</p>
        <p>People: </p>
        <p>Movies: {{ totalMovie }}</p>
        <p>Collections: </p>
        <p>Companies: </p>
        <p>Keywords: </p>
        <p>Networks: </p>
      </div>
      <div class="main">

        <div class="results-wrapper" v-for="result in endResult.results" :key="result">

          <router-link :to="{ name: 'Actor', params: { actorId: result.id }}">
          <div class="results-item" v-if="result.media_type == 'person'">
            <img v-bind:src="'https://image.tmdb.org/t/p/w94_and_h141_bestv2' + result.profile_path">
            <div class="results-info">
              <h3>{{ result.name }}</h3>
              <span>{{ result.known_for_department }}</span>
              <p v-for="movie in result.known_for" :key="movie">{{ movie.name }}</p>
            </div>
          </div>
          </router-link>
          <router-view />

          <router-link :to="{ name: 'Movie', params: { movieId: result.id }}">
          <div class="results-item" v-if="result.media_type == 'movie'">
            <img v-bind:src="'https://image.tmdb.org/t/p/w94_and_h141_bestv2' + result.poster_path">
            <div class="results-info">
              <h3>{{ result.title }}</h3>
              <span>{{ result.release_date }}</span>
              <p>{{ result.overview }}</p>
            </div>
          </div>
          </router-link>
          <router-view />

          <router-link :to="{ name: 'TV', params: { tvId: result.id }}">
            <div class="results-item" v-if="result.media_type == 'tv'">
              <img v-bind:src="'https://image.tmdb.org/t/p/w94_and_h141_bestv2' + result.poster_path">
              <div class="results-info">
                <h3>{{ result.name }}</h3>
                <span>{{ result.release_date }}</span>
                <p>{{ result.overview }}</p>
              </div>
            </div>
          </router-link>
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<script>

    import axios from "axios";

    export default {
      name: 'results',
      data () {
        return {
          endResult: null,
          totalPeople: null,
          totalMovie: 0
        }
      },
      mounted () {
        axios
          .get('https://api.themoviedb.org/3/search/multi?api_key=ae3ed0454374843f3e616df66dfd4266&language=en-US&query=' + this.$route.params.resultQuery + '&page=1&include_adult=false')
          .then(response => (this.endResult = response.data))
      }
    }

</script>

<style>

.content {
  display:flex;
  width:100%;
  max-width:1300px;
  margin:0 auto;
}

  .sidebar {
    width:30%;
  }

  .main {
    width:70%;
  }

  .results-item {
    display:flex;
    margin-bottom: 2em;
    padding: 1em;
    border: 1px solid gainsboro;
    border-radius: 20px;
  }

  .results-info {
    margin-left:1em;
  }
   .results-info p {
     font-size: 1em;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     text-overflow: ellipsis;
     overflow: hidden;
     margin: 10px 0 0 0;
   }

   .results-info span {
     white-space: nowrap;
     color: #999;
   }

  h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }



</style>
