<template>
  <signup></signup>
</template>

<script>
    // @ is an alias to /src
    import Signup from '@/components/auth/Signup.vue'

    export default {
        name:'LoginScreen',
        components: {
            Signup
        }
    }
</script>
