<template>

  <div class="movie">
    <div class="header" v-bind:style='{ backgroundImage: "url(https://image.tmdb.org/t/p/w1920_and_h800_multi_faces" + tv.backdrop_path + ")", }'>
      <div class="header-content">
        <img v-bind:src="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + tv.poster_path">
        <div class="header-content-info">
          <h3>{{ tv.name }}</h3>
          <span>{{ tv.first_air_date }}</span>
          <div class="user-score">{{ tv.vote_average }}</div>
          <h4>Overview</h4>
          <p>{{ tv.overview }}</p>
        </div>
      </div>
    </div>

    <div class="series-cast">
      <h3>Series cast</h3>
      <div class="actors">
        <div class="actor-item" v-for="cast_member in cast.slice(0,6)" :key="cast_member">
          <router-link :to="{ name: 'Actor', params: { actorId: cast_member.id }}">
            <img v-bind:src="'https://image.tmdb.org/t/p/w138_and_h175_face' + cast_member.profile_path">
            <h6>{{ cast_member.name }}</h6>
            <span>{{ cast_member.character }}</span>
          </router-link>
          <router-view />
        </div>
      </div>
      <a href="">Full cast and crew</a>
    </div>

    <div class="last-season">
      <h3>Last season</h3>

      <a href="">View All Seasons</a>
    </div>
<!--    <div class="movie-item">-->
<!--      <div class="header" v-bind:style='{ backgroundImage: "url(https://image.tmdb.org/t/p/w1920_and_h800_multi_faces" + tv.backdrop_path + ")", }'>-->
<!--        <div class="content">-->
<!--          <div class="header-image">-->
<!--            <img v-bind:src="'https://image.tmdb.org/t/p/w500' + tv.poster_path">-->
<!--          </div>-->
<!--          <div class="header-info">-->
<!--            <h2>{{ tv.name }}</h2>-->
<!--            <div class="genre">-->
<!--              <span v-for="genre in tv.genres" :key="genre"> {{ genre.name }}</span>-->
<!--            </div>-->
<!--            <div class="duration">{{ tv.runtime }}</div>-->
<!--            <div class="user-score">{{ tv.vote_average }}</div>-->
<!--            <div class="slogan">{{ tv.tagline }}</div>-->
<!--            <h4>Overview</h4>-->
<!--            <div class="overview">{{ tv.overview }}</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <main>

<!--        <div class="main-wrapper">-->
<!--          <div class="series-cast">-->
<!--            <h3>Series cast</h3>-->
<!--            <div class="actors">-->
<!--              <div class="actor-item" v-for="cast_member in cast.slice(0,6)" :key="cast_member" @click="getActor()">-->
<!--                <router-link :to="{ name: 'Actor', params: { actorId: cast_member.id }}">-->
<!--                  <img v-bind:src="'https://image.tmdb.org/t/p/w500' + cast_member.profile_path">-->
<!--                  <h6>{{ cast_member.name }}</h6>-->
<!--                  <span>{{ cast_member.character }}</span>-->
<!--                </router-link>-->
<!--                <router-view />-->
<!--              </div>-->
<!--            </div>-->
<!--            <a href="">View all cast and crew</a>-->
<!--          </div>-->

<!--          <div class="social">-->
<!--            <h3>Social</h3>-->
<!--            <div class="review-item" v-for="review_item in review.slice(0,1)" :key="review_item">-->
<!--              <h3>A review by {{ review_item.author}}</h3>-->
<!--              <span>Written by {{ review_item.author }}</span>-->
<!--              <p>{{ review_item.content }}</p>-->
<!--              <a href="">Read the rest</a>-->
<!--            </div>-->
<!--            <a href="">Read All Reviews</a>-->
<!--          </div>-->

<!--          <div class="media">-->
<!--            <h3>Media</h3>-->
<!--            <Tabs :tabs="tabs" :initialTab="initialTab">-->

<!--              <template slot="tab-panel-videos">-->
<!--                <div class="media-item" v-for="video in videos" :key="video">-->
<!--                  <a class="video" v-bind:href="'https://www.themoviedb.org/video/play?key=' + video.key ">-->
<!--                    <div class="wrapper" v-bind:style='{ backgroundImage: "url(https://i.ytimg.com/vi/" + video.key + "/hqdefault.jpg)", }'></div>-->
<!--                  </a>-->
<!--                </div>-->
<!--                <a href="">View all videos</a>-->
<!--              </template>-->

<!--              <template slot="tab-panel-backdrops">-->
<!--                <div class="media-item" v-for="backdrop in backdrops" :key="backdrop">-->
<!--                  <a class="image">-->
<!--                    <img v-bind:src="'https://image.tmdb.org/t/p/w533_and_h300_bestv2' + backdrop.file_path">-->
<!--                  </a>-->
<!--                </div>-->
<!--                <a href="">View all backdrops</a>-->
<!--              </template>-->

<!--              <template slot="tab-panel-posters">-->
<!--                <div class="media-item" v-for="poster in posters" :key="poster">-->
<!--                  <a class="image">-->
<!--                    <img v-bind:src="'https://image.tmdb.org/t/p/w533_and_h300_bestv2' + poster.file_path">-->
<!--                  </a>-->
<!--                </div>-->
<!--                <a href="">View all posters</a>-->
<!--              </template>-->

<!--            </Tabs>-->
<!--          </div>-->

<!--          <div class="recommendations">-->
<!--            <h3>Recommendations</h3>-->
<!--            <div class="recommendations-wrapper">-->
<!--              <div class="recommended-item" v-for="recommended_item in recommendations" :key="recommended_item" @click="reload()">-->
<!--                <router-link :to="{ name: 'Movie', params: { movieId: recommended_item.id }}">-->
<!--                  <img v-bind:src="'https://image.tmdb.org/t/p/w250_and_h141_face' + recommended_item.poster_path">-->
<!--                  <h4>{{ recommended_item.title }}</h4>-->
<!--                  <p>{{ recommended_item.vote_average }}</p>-->
<!--                </router-link>-->
<!--                <router-view />-->
<!--              </div>-->
<!--            </div>-->

<!--          </div>-->

<!--        </div>-->

<!--        <div class="sideblock">-->
<!--          <a v-bind:href="movie.homepage"></a>-->
<!--          <div class="block status">-->
<!--            <span>Status</span>-->
<!--            <div>{{ movie. status }}</div>-->
<!--          </div>-->
<!--          <div class="block original-language">-->
<!--            <span>Original language</span>-->
<!--            <div>{{ movie.original_language }}</div>-->
<!--          </div>-->
<!--          <div class="block budget">-->
<!--            <span>Budget</span>-->
<!--            <div>{{ movie.budget }}</div>-->
<!--          </div>-->
<!--          <div class="block revenue">-->
<!--            <span>Revenue</span>-->
<!--            <div>{{ movie.revenue }}</div>-->
<!--          </div>-->

<!--        </div>-->


      </main>


  </div>

</template>

<script>

    import axios from "axios";

    export default {
        name: 'tv',
        data () {
            return {
                tv: null,
                cast: null
            }
        },
        mounted () {

            axios
                .get('https://api.themoviedb.org/3/tv/' + this.$route.params.tvId + '?api_key=ae3ed0454374843f3e616df66dfd4266&language=en-US')
                .then(response => (this.tv = response.data))

            axios
                .get('https://api.themoviedb.org/3/tv/' + this.$route.params.tvId + '/credits?api_key=ae3ed0454374843f3e616df66dfd4266&language=en-US')
                .then(response => (this.cast = response.data.cast, console.log(response)))
            console.log(this.$route.params.tvId);


        },
        methods: {
            reload: function() {
                this.$router.go(this.$router.currentRoute)
            },
            getActor: function() {
                axios
                    .get('https://api.themoviedb.org/3/person/' + this.$route.params.actorId + '/?api_key=ae3ed0454374843f3e616df66dfd4266&')
                    .then(response => (this.recommendations = response.data.results))
            }
        }
    }


</script>

<style scoped>

  .header {
    background-color: #bae4ff;
  }

  .content {
    width:100%;
    max-width:1200px;
    margin:0 auto;
    display:flex;
  }

  img {
    max-height:400px;
  }

  main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
  }

  .header-info {
    margin-left:2em;
    color:white;
  }

  .actors{
    display:flex;
    overflow:scroll;
  }

  .actor-item {
    margin-right:1em;
  }

  .actors img {
    max-width:150px;
  }

  .block {
    margin-bottom:1em;
  }

  .block span {
    font-weight:bold;
  }

  .sideblock {
    margin-top: 2em;
    margin-left: 1em;
  }

  .review-item p {
    max-height: 92px;
    overflow: hidden;
  }

  .social {
    margin-top:2em;
  }

  .media-item .wrapper {
    width: 533px;
    height: 300px;
    background-size: cover;
  }

  .main-wrapper {
    max-width:900px;
  }

  .recommendations-wrapper {
    display:flex;
  }

  .header {
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-position:top;
  }


</style>
