<template>
  <div class="card">
    <header class="card-header">
      <div class="tab-heads">
        <button class="tab-head" v-for="tab in tabs" :key="tab" v-bind:class="{'tab-head--active' : activeTab === tab }" v-on:click="switchTab(tab);">
          <slot :name="tabHeadsSlotName(tab)">
            {{ tab }}
          </slot>
        </button>
      </div>
    </header>
    <main class="card-body">
      <div class="tab-panel">
        <slot :name="tabPanelSlotName"></slot>
      </div>
    </main>
  </div>
</template>

<script>
  export default {
      props: {
          initialTab: String,
          tabs: Array
      },
      data() {
          return {
              activeTab: this.initialTab
          };
      },
      computed: {
          tabPanelSlotName() {
              return `tab-panel-${this.activeTab}`;
          },
      },

      methods: {
          tabHeadsSlotName(tabName) {
              return `tab-head-${tabName}`;
          },
          switchTab(tabName) {
              this.activeTab = tabName;
          }
      }
  }
</script>

<style scoped>

  .tab-panel {
    display:flex;
    overflow:hidden;
  }

  img {
    max-width:250px
  }

  .card-body,
  .tab-heads {
    max-width:1300px;
    width:100%;
    margin:0 auto;
  }

</style>
