<template>
  <div class="footer">
    <div class="content">
    <img src="../../assets/tmdb2.svg">
    <div class="footer-wrapper">
      <div class="footer-item">
        <h4>THE BASICS</h4>
        <a>About TMDb</a>
        <a>Contact us</a>
        <a>Support forums</a>
        <a>API</a>
        <a>System Status</a>
      </div>
      <div class="footer-item">
        <h4>GET INVOLVED</h4>
        <a>Contribution Bible</a>
        <a>3rd Party Applications</a>
        <a>Add New Movie</a>
        <a>Add New TV Show</a>
      </div>
      <div class="footer-item">
        <h4>COMMUNITY</h4>
        <a>Guidelines</a>
        <a>Discussions</a>
        <a>Leaderboard</a>
        <a>Twitter</a>
      </div>
      <div class="footer-item">
        <h4>LEGAL</h4>
        <a>Terms of use</a>
        <a>API Terms of use</a>
        <a>Privacy policy</a>
      </div>
    </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>

  .footer {
    background-color:#032541;
    .content {
      width:100%;
      max-width:1200px;
      margin:0 auto;
      padding:80px 0;
      display: flex;
      justify-content: center;
    }

    img {
      width:150px;
      margin-right:3em;
    }

    .footer-wrapper {
      display:flex;
    }

    .footer-item {
      display:flex;
      flex-direction:column;
      color:white;
      margin-right:3em;

      &:last-of-type {
        margin-right:0;
      }

      h4 {
        font-size:1.2rem;
      }

      a {
        font-size:1.1rem;
        font-weight:normal;
      }
    }
  }
</style>
