<template>
  <div class="submenu">
    <vs-navbar center-collapsed v-model="active">
        <slot name="navbar-group"></slot>
    </vs-navbar>
  </div>
</template>
<script>
    export default {
        data:() => ({
            active: 'guide'
        })
    }
</script>

<style lang="scss" scoped>
  .submenu {
    .vs-navbar-content {
      position:relative!important;
      top:60px;
      z-index: 0;
    }
  }
</style>
