.search-banner {
  margin-top: 60px;
  min-height: 300px;
  height: calc(100vh / 2.5);
  max-height: 360px;
  display: flex;

  .content {
    width: 100%;
    max-width: $container-wide;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(266deg, rgba(255,255,255,1) 0%, rgba(1,174,222,1) 0%, rgba(5,65,97,1) 100%);
  }

  .search-wrapper {
    padding:2em;
  }

  h1 {
    font-size: 3em;
    font-weight: 700;
    line-height: 1;
    margin:0;
    color: white;
  }

  h2 {
    font-size: 2em;
    font-weight: 600;
    margin: 0;
    color :white;
  }

  .input {
    display: flex;
    position:relative;
    margin-top:2em;

    .vs-input-parent {
      width:100%;
    }

    input {
      width:100%;
      height: 46px;
      border-radius: 50px;
    }

    .vs-button {
      position: absolute;
      right: 0;
      height: 46px;
      margin: 0;
      border-radius: 50px;
      width: 10%;
      background: linear-gradient(94deg, rgba(255,255,255,1) 0%, rgba(28,211,205,1) 0%, rgba(2,181,226,1) 100%);
      color: white;
      font-size: 1rem;
      font-weight: bold;
    }

    .vs-input__label {
      font-size: 1.1rem;
      padding: .5em;
    }
  }
}
