<template>
  <div class="search-banner">
    <div class="content">
      <div class="search-wrapper">
        <h1>Welcome.</h1>
        <h2>Millions of movies, TV shows and people to discover. Explore now.</h2>
        <div class="input">
          <vs-input icon="search" placeholder="Search for a movie, TV show, person..." v-model="results"/>
          <router-link :to="{ name: 'Results', params: { resultQuery: results }}">
          <vs-button flat @click="getResults()">Search</vs-button>
          </router-link>
          <router-view />
        </div>
      </div>
    </div>
  </div>
</template>

<script>

    import axios from "axios";

    export default {
        el: '#app',
        data () {
            return {
                query: null,
                results: ''

            }
        },
        mounted () {
            console.log('test');

        },
        methods: {
            getResults: function() {
                axios
                    .get('https://api.themoviedb.org/3/search/multi?api_key=ae3ed0454374843f3e616df66dfd4266&language=en-US&query=' +  this.results +'&page=1&include_adult=false')
                    .then(response => (this.query = response.data.results))
            }

        }
    }

</script>

