<template>
  <div id="app">
    <router-link to="/home"></router-link>
    <router-view />
  </div>
</template>

<script>
    // @ is an alias to /src
    // import Popular from '@/components/Popular/Popular.vue'
    // import Trailers from '@/components/Trailers.vue'
    // import Menu from '@/components/Menu/Menu.vue'

    export default {
        name:'Home',
        components: {
            // Popular,
            // Trailers,
            // Menu
        }
    }
</script>

<style lang="sass">
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,300&display=swap')
  @import 'components/variables.scss'
  @import 'components/Menu/menu.scss'
  @import 'components/Search/search.scss'
  @import 'components/Popular/popular.scss'

</style>
