<template>
  <div class="trending">
    <h3>Trending</h3>
  <Tabs :tabs="tabs" :initialTab="initialTab">

    <template slot="tab-panel-ontv">
      <div class="movie-element" v-for="tv_item in series" :key="tv_item">
        <router-link :to="{ name: 'TV', params: { tvId: tv_item.id }}">
          <div class="image">
            <img v-bind:src="'https://image.tmdb.org/t/p/w500' + tv_item.poster_path">
          </div>
          <div class="movie-content">
            <span>{{ tv_item.vote_average }}</span>
            <h5>{{ tv_item.name }}</h5>
            <p>{{ tv_item.first_air_date }}</p>
          </div>
        </router-link>
        <router-view />
      </div>
    </template>

    <template slot="tab-panel-intheatres">
      <div class="movie-element" v-for="movie in movies" :key="movie">
        <router-link :to="{ name: 'Movie', params: { movieId: movie.id }}">
          <div class="image">
            <img v-bind:src="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
          </div>
          <div class="movie-content">
            <span>{{ movie.vote_average }}</span>
            <h5>{{ movie.original_title }}</h5>
            <p>{{ movie.release_date }}</p>

          </div>
        </router-link>
      </div>
    </template>

  </Tabs>
  </div>
</template>

<script>

    import axios from "axios";
    import Tabs from '../../components/Tabs';

    export default {
        el: '#app',
        components: {
            Tabs
        },
        data () {
            return {
                movies: null,
                series: null,
                initialTab: ['ontv'],
                tabs: ['ontv', 'intheatres'],
                isHidden: true
            }
        },
        mounted () {
            axios
                .get('https://api.themoviedb.org/3/trending/tv/day?api_key=ae3ed0454374843f3e616df66dfd4266')
                .then(response => (this.series = response.data.results))

            axios
                .get('https://api.themoviedb.org/3/trending/movie/day?api_key=ae3ed0454374843f3e616df66dfd4266')
                .then(response => (this.movies = response.data.results))

        },
        methods: {

        }
    }

</script>

<style scoped>

.trending {
  width:100%;
  max-width:1300px;
  margin:30px auto;
  background-image:url('https://www.themoviedb.org/assets/2/v4/misc/trending-bg-39afc2a5f77e31d469b25c187814c0a2efef225494c038098d62317d923f8415.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}
  img {
    max-height:250px;
  }

</style>

