.popular {
  width:100%;
  max-width:$container-wide;
  margin:30px auto;
}

.button-wrapper {
  display:flex;
  height:30px;
  border-radius:30px;
  border:1px solid $color-blue;
}

.header {
  display:flex;
  align-items: center;
}

.vs-button {
  margin: 0!important;
  border-radius: 30px!important;
  min-width:80px;
}

.vs-button__content {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bold;
}

h3 {
  white-space: nowrap;
  font-size:1.5rem!important;
  margin:1em 20px 1em 0!important;
}

h5 {
  font-weight: 700;
  color: #000;
  font-size: 1em;
  margin:0!important;
}

.movie-element {
  margin-right:1.5em;
  cursor:pointer;
  min-width: 150px;

    a {
      text-decoration:none;
    }

  img {
    width: 100%;
    min-height: calc(150px * 1.5);
    height: calc(150px * 1.5);
    overflow: hidden;
    border-radius: 10px;
  }
}

.movie-content {
  width: 100%;
  padding: 26px 10px 12px 10px;
  position: relative;
  white-space: normal;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;

  span {
    position:absolute;
    top:-22px;
    width: 38px;
    height: 38px;
    box-sizing: border-box;
    background-color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
  }

  p {
    font-size: 1em;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.6);
  }
}

.movie-wrapper {
  display:flex;
  margin:1em 0;
}

.popular-panel {
  display:flex;
}

.card-body {
  position:relative;
  &:after {
    position:absolute;
    content:'';
    width:50px;
    height:100%;
    bottom:0;
    right:0;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%)!important;
  }
}

.tab-panel {
  display: flex;
  width: 100%;
  overflow-x: scroll!important;
  overflow-y: hidden!important;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  height:5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgb(194 194 194 / 50%);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


