

<template>
<div class="popular">
  <h3>What's popular</h3>
<Tabs :tabs="tabs" :initialTab="initialTab">
  <template slot="tab-panel-ontv">
    <div class="movie-element" v-for="tv_item in tv" :key="tv_item">
      <router-link :to="{ name: 'TV', params: { tvId: tv_item.id }}">
        <div class="image">
          <img v-bind:src="'https://image.tmdb.org/t/p/w500' + tv_item.poster_path">
        </div>
        <div class="movie-content">
          <span>{{ tv_item.vote_average }}</span>
          <h5>{{ tv_item.name }}</h5>
          <p>{{ tv_item.first_air_date }}</p>
        </div>
      </router-link>
      <router-view />
    </div>
  </template>

  <template slot="tab-panel-intheatres">
    <div class="movie-element" v-for="item in info" :key="item">
      <router-link :to="{ name: 'Movie', params: { movieId: item.id }}">
        <div class="image">
          <img v-bind:src="'https://image.tmdb.org/t/p/w500' + item.poster_path">
        </div>
        <div class="movie-content">
          <span>{{ item.vote_average }}</span>
          <h5>{{ item.title }}</h5>
          <p>{{ item.release_date }}</p>
        </div>
      </router-link>
    </div>
  </template>

</Tabs>
</div>
</template>


<script>

  import axios from "axios";
  import Tabs from "../Tabs";

  export default {
    el: 'popular',
    components: {
        Tabs
    },
    data () {
      return {
        info: null,
        movie: null,
        tv: null,
        series: null,
        initialTab: 'intheatres',
        tabs: ['ontv', 'intheatres']
      }
    },


    mounted () {
      axios
        .get('https://api.themoviedb.org/3/movie/popular?api_key=ae3ed0454374843f3e616df66dfd4266&language=en-US&include_adult=false&page=1\n')
        .then(response => (this.info = response.data.results))

        axios
            .get('https://api.themoviedb.org/3/tv/popular?api_key=ae3ed0454374843f3e616df66dfd4266&language=en-US&page=1')
            .then(response => (this.tv = response.data.results))

    },
    methods: {

    }
  }

</script>




